.container button
{
    width: 7em;
    height: 7em;
    border-radius: 7px;
    

}
.container button:hover
{
    background-color: white;
    border-radius: 7px;
}
.container .row
{
    text-align: center;
    color: rgb(111, 0, 255);

    
}